# Import

In [ ]:
import netaddr
import ipaddress
import maxminddb
import pandas as pd
from tqdm import tqdm
from io import StringIO
from netaddr import IPSet
from mmdb_writer import MMDBWriter

# Load data

In [10]:
df = pd.read_csv("./data/isp.csv", header=None)
df.head()

,0,1,2,3,4
0,2.144.0.0,2.147.255.255,262144,22/10/10,Iran Cell Service and Communication Company
1,2.176.0.0,2.191.255.255,1048576,18/10/10,Information Technology Company (ITC)
2,5.22.0.0,5.22.127.255,32768,03/05/12,Mobile Communication Company of Iran PLC
3,5.22.192.0,5.22.223.255,8192,04/05/12,Dadeh Pardazan Sabz Alborz Co.(P.J.S.)
4,5.52.0.0,5.52.255.255,65536,25/05/12,Mobile Communication Company of Iran PLC

# convert to cidr